@font-face {
	font-family: 'Helvetica';
	src: url('/Helvetica.ttf');
}

:root {
	--color1: #ffb36c;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: black;
	background-color: var(--color1);
	font-family: Helvetica;
}
